header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    width: 75px;
    height: 75px;
    background: url('../images/logo.png') no-repeat center center; 
    background-size: contain;
    margin-left: 20px;
}